
body
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e6fcff;
    padding: 20px;
}

h1 {
    color: #86bcff;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ff92c8;
    border-radius: 4px;
    width: 70%;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #fdc7d7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff8fba;
}

ul {
    list-style-type: none;
}

li {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: #a30000;
    margin-left: 10px;
}

a:hover {
    text-decoration: underline;
}

s {
    color: #999;
}

